[submodule "challenges/desafio_conceitos_nodejs"]
	path = challenges/desafio_conceitos_nodejs
	url = https://github.com/alexxfreitag/desafio_conceitos_nodejs
[submodule "challenges/desafio_conceitos_reactjs"]
	path = challenges/desafio_conceitos_reactjs
	url = https://github.com/alexxfreitag/desafio_conceitos_reactjs
[submodule "challenges/desafio_conceitos_react_native"]
	path = challenges/desafio_conceitos_react_native
	url = https://github.com/alexxfreitag/desafio_conceitos_react_native
[submodule "challenges/desafio_fundamentos_node"]
	path = challenges/desafio_fundamentos_node
	url = https://github.com/alexxfreitag/desafio_fundamentos_node
[submodule "challenges/desafio_database_upload"]
	path = challenges/desafio_database_upload
	url = https://github.com/alexxfreitag/desafio_database_upload
[submodule "challenges/desafio_fundamentos_reactjs"]
	path = challenges/desafio_fundamentos_reactjs
	url = https://github.com/alexxfreitag/desafio_fundamentos_reactjs
[submodule "challenges/desafio_fundamentos_react_native"]
	path = challenges/desafio_fundamentos_react_native
	url = https://github.com/alexxfreitag/desafio_fundamentos_react_native